@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.titulo-pesquisa {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}



h1 {
    font-family: 'Baloo Bhai 2', sans-serif;
    font-size: clamp(2rem, 1.5rem + 2vw, 3rem);
    color: rgba(66, 29, 111, 1);
}

p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: clamp(1rem, 0.8rem + 0.5vw, 1.25rem);
    padding-bottom: 1rem;
}

.filtro {
    width: 100%;
    background-color: #f3f0f7;
    display: flex;
    justify-content: center;
    padding: 15px;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem 0;
}

@media (max-width: 768px) { 
  .filtro {
    flex-direction: column;
    align-items: stretch; 
  }
}

.filtro-campo {
    appearance: none;
    padding: 0.75rem 1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
    color: rgba(66, 29, 111, 1);
    cursor: pointer;
}

select.filtro-campo {
    padding-right: 2.5rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;

}

.cards-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .cards-grid {
        justify-items: center;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}