<app-header></app-header>
<div class="titulo-pesquisa">
    <h1>Aulas e Tutoriais</h1>
    <p>Encontre aqui videoaulas e tutoriais para criar o seu próximo projeto</p>
</div>
<!-- filtro de pesquisa-->
<div class="filtro">

  <select name="dificuldade" id="dificuldade" class="filtro-campo" [(ngModel)]="filtros.dificuldade" (ngModelChange)="aplicarFiltros()">
    <option value="Dificuldade" hidden>Dificuldade</option>
    <option value="Iniciante">Iniciante</option>
    <option value="Intermediário">Intermediário</option>
    <option value="Avançado">Avançado</option>
  </select>

  <select name="tecnicas" id="tecnicas" class="filtro-campo" [(ngModel)]="filtros.tecnica" (ngModelChange)="aplicarFiltros()">
    <option value="Técnicas" hidden>Técnicas</option>
    <option value="Crochê">Crochê</option>
    <option value="Macramê">Macramê</option>
    <option value="Amigurumi">Amigurumi</option>
  </select>

  <select name="categorias" id="categorias" class="filtro-campo" [(ngModel)]="filtros.categoria" (ngModelChange)="aplicarFiltros()">
    <option value="Categorias" hidden>Categorias</option>
    <option value="Vestuário">Vestuário</option>
    <option value="Amigurumi">Amigurumi</option>
    <option value="Decoração">Decoração</option>
  </select>

  <button (click)="resetarFiltros()" class="botao-reset">
    Limpar filtros
  </button>
</div>

<!-- Mensagem para o usuário (ex: "selecione os 3 filtros") -->
<div *ngIf="mensagemFiltro && videosFiltrados.length > 0" class="mensagem-aviso">
  <p>{{ mensagemFiltro }}</p>
</div>

<!-- O aviso com a imagem só aparecerá quando NÃO houver nenhum relacionado -->
<div *ngIf="videosFiltrados.length > 0; else semResultados" class="cards-grid">
  <app-cards *ngFor="let video of videosFiltrados" [videoData]="video"></app-cards>
</div>

<ng-template #semResultados>
  <div class="mensagem-aviso">
    <p>{{ mensagemFiltro || 'Oops! Nenhum vídeo foi encontrado com os filtros selecionados.' }}</p>
    <img src="assets/gatinho-tangled.svg" alt="Gatinho enrolado em fios de lã">
  </div>
</ng-template>

<app-footer></app-footer>