@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.homepage {
    background-color: rgba(240, 236, 245, 1);
    display: flex;
    flex-direction: column;
    gap: clamp(40px, 6vw, 100px); /* Espaçamento vertical responsivo */
    padding: 16px;
}

/* Título principal */
.titulo-main,
.tutoriais {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-main h1,
.tutoriais h1 {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    padding-top: 20px;
    font-family: 'Baloo Bhai 2', sans-serif;
    font-size: clamp(2rem, 1.5rem + 2vw, 3rem);
    color: rgba(66, 29, 111, 1);
}

.titulo-main p,
.tutoriais p {
    display: flex;
    flex-direction: column;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size: clamp(1rem, 0.8rem + 0.5vw, 1.25rem);

}

.tutoriais {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

/* Cards de entrada */
.entrance {
    width: 100%;
    display: flex;
    gap: 85px;
    align-items: stretch;
    justify-content: center;
    padding: 1rem;
}

.entrance a {
    text-decoration: none;
    color: inherit;
}

.explorar,
.atelie {
    display: flex;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 12.9px 1px rgba(0, 0, 0, 0.10);
    padding: 20px;
    align-items: center;
    gap: 18px;
}

.description {
    display: flex;
    flex-direction: column;
}

.explorar h2,
.atelie h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-size: 22px;
}

.explorar small,
.atelie small {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 300;
    font-size: small;
}

.card-cta {
    margin-top: 8px; /* Adiciona espaço acima */
    color: #5c3d87; /* Um tom de roxo um pouco mais claro */
    font-weight: 500; /* Dá um leve destaque */
}

.sign small {
    gap: 100px;
    font-size: 1rem;
}

.explorar img,
.atelie img {
    width: 45px;
    aspect-ratio: 1/1;
}

/* Container principal do conteúdo */
.main-content {
    display: flex;
    flex-direction: column;
    gap: clamp(40px, 6vw, 100px); /* Espaçamento vertical responsivo */
}

/*Seção Tutoriais*/
.iniciante {
    display: flex;
    flex-direction: column;
}

.cards-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

@media (max-width: 768px) {
    .entrance {
        flex-direction: column;
        gap: 2rem;
    }

    .cards-grid {
        justify-items: center;
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

@media (min-width: 769px) and (max-width: 1199px) {
    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media (min-width: 1200px) {
    .cards-grid {
        padding: 0% 15%;
    }

    .entrance {
        gap: 100px;
    }

    .explorar h2,
    .atelie h2 {
        font-size: 26px;
    }
}

.container-canal {
    max-width: 960px;
    margin: 0 auto 3rem auto;
    padding: 0 1rem;
}

.section-divider {
    width: 100%;
    border: none;
    border-top: 1px solid #DCD0FF;
}
