

<button class="voltar" (click)="voltar()">
    <span aria-hidden="true">
        ←
    </span>
    Voltar
</button>

<main *ngIf="video" class="container-pai">

    <section class="video-play">
            <div class="video-wrapper">
                <iframe [src]="videoUrlSegura" title="Player de vídeo do YouTube" frameborder="0"
                    allowfullscreen></iframe>
            </div>
    </section>

    <section class="info-video">
        <div class="titulo-chamada">
            <div class="nome">
                <h1>{{video.titulo}}</h1>
            </div>
            <button disabled class="btn-save"> <!--criar logica para mudar a cor do botão-->
                <div class="btn-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-bookmark" viewBox="0 0 16 16">
                        <path
                            d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z" />
                    </svg>
                </div>
                Salvar em Meu Ateliê
            </button>
        </div>
    </section>


    <div class="container-canal">
        <div class="card-canal">
            <div class="txt">
                <small>Tutorial criado por:</small>
                <strong>{{ video.channelName }}</strong>
            </div>
            <div class="btn-view">
                <a [href]="video.channelUrl" target="_blank" class="btn-visualizar-canal">Visualizar Canal</a>
            </div>
        </div>
    </div>


    <section class="relacionados">
        <h3>Continue praticando</h3>
        <div class="cards-grid">
            <app-cards *ngFor="let videoRelacionado of videosRelacionados" [videoData]="videoRelacionado"></app-cards>
        </div>
    </section>

</main>
