.video-play {
    display: flex;
    align-items: center;
    justify-content: center;
}

.video-wrapper {
    width: 100%;
    max-width: 960px;
    margin: 2rem auto;
    aspect-ratio: 16 / 9;
}

.video-wrapper iframe {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    border: none;
}


.titulo-chamada {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;
    color: #421D6F;
}

.nome h2 {
    font-family: 'Baloo Bhai 2', sans-serif;
    font-size: 2rem;
    color: #421D6F;
}

.btn-save {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: #421D6F;
    border: 0.5px solid #421D6F;
    border-radius: 6px;
    padding: 0.75rem 1.5rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* ESTILOS PARA O BOTÃO QUANDO O VÍDEO FOR SALVO */
.btn-save.saved {
    background-color: #421D6F;
    color: white;
    border-color: #421D6F;

}

.container-canal {
    max-width: 960px;
    margin: 0 auto 3rem auto;
    padding: 0 1rem;
}

.card-canal {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid #eee;
}

.txt {
    flex-grow: 1;
}

.txt small {
    font-size: 0.9rem;
    color: #615d5d;
    font-weight: 400;
}

.txt strong {
    display: block;
    font-family: 'Baloo Bhai 2', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #421D6F;
}

.btn-view a {
    border: 1px solid #421D6F;
    color: #421D6F;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
}

/* .voltar {
    margin: 1rem 0 0 1rem;
    display: inline-block;
    background-color: #421D6F;
    color: white;
    border: none;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
} */


.relacionados h2 {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
    padding-left: 2rem;
    text-align: center;
}

.relacionados {
    padding: 0.52rem;
}

.cards-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    margin-bottom: 2rem;
}

@media (min-width: 1200px) {
    .cards-grid {
        padding: 0% 15%;
    }

    .video-wrapper {
        max-width: 1100px;
    }

    .nome h2 {
        font-size: 2.5rem;
    }

    .txt strong {
        font-size: 1.8rem;
    }

    .relacionados h2 {
        font-size: 2rem;
    }
}

@media (min-width: 769px) and (max-width: 1199px) {
    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media (max-width: 768px) {

    .titulo-chamada {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0.5rem;
    }

    .nome h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .card-canal {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem;
        gap: 1rem; /* Add spacing between elements */
    }

    .cards-grid {
        justify-items: center;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .video-wrapper {
        margin: 1rem auto;
    }

    .btn-save {
        padding: 0.5rem 1rem;
    }

    .txt strong {
        font-size: 1.2rem;
    }

    .btn-view a {
        padding: 0.5rem 1rem;
    }

    .relacionados h2 {
        font-size: 1.5rem;
        padding-left: 1rem;
    }
}