<div class="backdrop" *ngIf="menuHamb" (click)="toggleMenu()"></div>
<header class="home">
    <img class="logotipo" src="assets/logo-svg.svg" alt="Logo">
    <nav class="menu" [ngClass]="{'menu-hamb': menuHamb}">
        <ul>
            <div class="itens">
                <li class="comeco"><a routerLink="/inicio">Home</a></li>
                <li class="receitas"><a routerLink="/aulas-tutoriais">Aulas e Tutoriais</a></li>              
            </div>
            <li class="conta"><a routerLink="/login">Entrar em sua conta</a></li>
        </ul>
    </nav>

        <button class="hamburguer" (click)="toggleMenu()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
</svg>
        </button>
    
</header>