<div class="my-profile" *ngIf="user">
    <div class="titulo-profile">
        <h1>Meu Perfil</h1>
        <p>Gerencie seu perfil, suas preferências e sua conta.</p>
    </div>

    <hr class="section-divider">

    <section class="biografia">
        <div class="user-pic">
            <img [src]="avatarUrl" alt="imagem de perfil">
        </div>

        <div class="titulo-imagem">
            <h2>{{ user.name }}</h2>
            <p class="biografia">{{ user.bio }}</p>
        </div>
    </section>


    <section class="skills">

        <div class="habilidades">
            <h2>Minhas Habilidades</h2>
            <span *ngFor="let skill of user.skills">{{ skill }}</span>
        </div>

        <div class="conhecimento">
            <h2>Nivel de Conhecimento</h2>
            <span>{{ user.knowledgeLevel }}</span>
        </div>
    </section>

    <div class="btn-editar">
        <button class="editar-perfil" (click)="openModal()">
            Editar Perfil
        </button>
    </div>

    <hr class="section-divider">

    <!-- MODAL PARA EDITAR PERFIL -->
    <div class="modal-overlay" [class.open]="isModalOpen" (click)="closeModal()">
        <div class="modal-content" (click)="$event.stopPropagation()">
            <h2 class="titulo-modal">Editar Perfil</h2>
            <div class="alterar-foto">
                <img [src]="avatarUrl" alt="imagem de perfil">
                <button class="change-pic">Alterar Foto</button>
            </div>

            <div class="nome-bio">
                <form class="form-group sobre">
                    <label for="name">Nome</label>
                    <input type="text" name="name-user" id="name-user" [(ngModel)]="editingUser.name">
                    <label for="biografia">Biografia</label>
                    <textarea name="biografia-edit" id="biografia-edit" [(ngModel)]="editingUser.bio"></textarea>
                </form>
            </div>


            <div class="habil">
                <h3>Habilidades</h3>
                <form class="escolha-check">

                    <div class="artes crochet">
                        <input type="checkbox" value="Crochê" [checked]="isSkillSelected('Crochê')" (change)="onSkillChange($event)"><label for="choices">Crochê</label>
                    </div>

                    <div class="artes amigu">
                        <input type="checkbox" value="Amigurumi" [checked]="isSkillSelected('Amigurumi')" (change)="onSkillChange($event)"><label for="choices">Amigurumi</label>
                    </div>

                    <div class="artes macra">
                        <input type="checkbox" value="Macramê" [checked]="isSkillSelected('Macramê')" (change)="onSkillChange($event)"><label for="choices">Macramê</label>
                    </div>
                </form>
            </div>

            <div class="nivel-conhecimento">
                <h3>Nivel de conhecimento</h3>
                <select name="level" id="level" [(ngModel)]="editingUser.knowledgeLevel">
                    <option value="Avançado">Avançado</option>
                    <option value="Iniciante">Iniciante</option>
                    <option value="Intermediário">Intermediário</option>
                </select>
            </div>


            <div class="btn-alterar">
                <button class="cancelar" (click)="closeModal()">
                    Cancelar
                </button>

                <button class="save-changes" (click)="saveChanges()">
                    Salvar Alterações
                </button>
            </div>
        </div>
    </div>
    <!-- FIM DO MODAL EDITAR PERFIL -->

    

    <section class="configuracoes">
        <h1>Configurações de Conta</h1>

        <hr class="section-divider">

        <form class="form-group">
            <div class="contato">
                <label for="Nome">Nome</label>
                <input type="text" name="usuario" id="usuario">
            </div>

            <div class="contato">
                <label for="Email">Email</label>
                <input type="email" name="email" id="email">
            </div>

            <div class="birthday">
                <label for="nascimento">Data de Nascimento</label>
                <input type="date" name="Data" id="data" min="1925-01-01" max="2026-12-31">
            </div>
            
            <button class="save-changes">
                Salvar Alterações
            </button>
        </form>
    </section>

    <hr class="section-divider">

    <section class="perigo">
        <h1>Zona de Perigo</h1>

        <hr class="section-divider">

        <div class="destivar-conta">
            <h3>Desativar Conta</h3>
            <small>Sua conta será desativada temporariamente. Seu perfil e dados ficarão ocultos até você
                reativá-la.</small>
            <button class="desativar">Desativar Conta</button>
        </div>

        <hr class="section-divider">

        <div class="exluir-conta">
            <h3>Excluir conta permanentemente</h3>
            <small>Esta ação é irreversível. Todos os seus dados, incluindo perfil e itens salvos, serão apagados para
                sempre.</small>
            <button class="excluir">Excluir Conta</button>
        </div>
    </section>
</div>