<div class="my-profile" *ngIf="user">
    <div class="titulo-profile">
        <h1>Meu Perfil</h1>
        <p>Gerencie seu perfil, suas preferências e sua conta.</p>
    </div>

    <hr class="section-divider">

    <section class="biografia">
        <div class="user-pic">
            <img [src]="avatarUrl" alt="imagem de perfil">
        </div>

        <div class="titulo-imagem">
            <h2>{{ user.name }}</h2>
            <p class="biografia">{{ user.bio }}</p>
        </div>
    </section>


    <section class="skills">

        <div class="habilidades">
            <h2>Minhas Habilidades</h2>
            <span *ngFor="let skill of user.skills">{{ skill }}</span>
        </div>

        <div class="conhecimento">
            <h2>Nivel de Conhecimento</h2>
            <span>{{ user.knowledgeLevel }}</span>
        </div>
    </section>

    <div class="btn-editar">
        <button class="editar-perfil" (click)="openModal()">
            Editar Perfil
        </button>
    </div>

    <hr class="section-divider">

    <!-- MODAL PARA EDITAR PERFIL -->
    <div class="modal-overlay" [class.open]="isModalOpen" (click)="closeModal()">
        <div class="modal-content" (click)="$event.stopPropagation()">
            <h2 class="titulo-modal">Editar Perfil</h2>
            <div class="alterar-foto">
                <img [src]="avatarUrl" alt="imagem de perfil">
                <button class="change-pic">Alterar Foto</button>
            </div>

            <div class="nome-bio">
                <form class="form-group sobre">
                    <label for="name">Nome</label>
                    <input type="text" name="name-user" id="name-user" [(ngModel)]="editingUser.name">
                    <label for="biografia">Biografia</label>
                    <textarea name="biografia-edit" id="biografia-edit" [(ngModel)]="editingUser.bio"></textarea>
                </form>
            </div>


            <div class="habil">
                <h3>Habilidades</h3>
                <form class="escolha-check">

                    <div class="artes crochet">
                        <input type="checkbox" value="Crochê" [checked]="isSkillSelected('Crochê')" (change)="onSkillChange($event)"><label for="choices">Crochê</label>
                    </div>

                    <div class="artes amigu">
                        <input type="checkbox" value="Amigurumi" [checked]="isSkillSelected('Amigurumi')" (change)="onSkillChange($event)"><label for="choices">Amigurumi</label>
                    </div>

                    <div class="artes macra">
                        <input type="checkbox" value="Macramê" [checked]="isSkillSelected('Macramê')" (change)="onSkillChange($event)"><label for="choices">Macramê</label>
                    </div>
                </form>
            </div>

            <div class="nivel-conhecimento">
                <h3>Nivel de conhecimento</h3>
                <select name="level" id="level" [(ngModel)]="editingUser.knowledgeLevel">
                    <option value="Avançado">Avançado</option>
                    <option value="Iniciante">Iniciante</option>
                    <option value="Intermediário">Intermediário</option>
                </select>
            </div>


            <div class="btn-alterar">
                <button class="cancelar" (click)="closeModal()">
                    Cancelar
                </button>

                <button class="save-changes" (click)="saveChanges()">
                    Salvar Alterações
                </button>
            </div>
        </div>
    </div>
    <!-- FIM DO MODAL EDITAR PERFIL -->

    

    <section class="configuracoes">
        <h1>Configurações de Conta</h1>

        <hr class="section-divider">

        <form class="form-group" [formGroup]="accountSettingsForm" (ngSubmit)="onAccountSettingsSubmit()">
            <div class="contato">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" formControlName="email">
                <div *ngIf="accountSettingsForm.get('email')?.invalid && accountSettingsForm.get('email')?.touched" class="validation-error">
                    Por favor, insira um email válido.
                </div>
            </div>

            <div class="contato">
                <label for="password">Nova Senha (opcional)</label>
                <div class="password-wrapper">
                    <input [type]="showNewPassword ? 'text' : 'password'" name="password" id="password" formControlName="password">
                    <span class="password-toggle-icon" (click)="togglePasswordVisibility('new')">
                        <span *ngIf="!showNewPassword">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                            </svg>
                        </span>
                        <span *ngIf="showNewPassword">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
                                <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
                                <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
                            </svg>
                        </span>
                    </span>
                </div>
                 <div *ngIf="accountSettingsForm.get('password')?.hasError('minlength')" class="validation-error">
                    A senha deve ter pelo menos 6 caracteres.
                </div>
            </div>

            <div class="contato">
                <label for="confirmPassword">Confirmar Nova Senha</label>
                <div class="password-wrapper">
                    <input [type]="showConfirmPassword ? 'text' : 'password'" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword">
                    <span class="password-toggle-icon" (click)="togglePasswordVisibility('confirm')">
                        <span *ngIf="!showConfirmPassword">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                            </svg>
                        </span>
                        <span *ngIf="showConfirmPassword">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                                <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7 7 0 0 0-2.79.588l.77.771A6 6 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755q-.247.248-.517.486z"/>
                                <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829"/>
                                <path d="M3.35 5.47q-.27.24-.518.487A13 13 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7 7 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12z"/>
                            </svg>
                        </span>
                    </span>
                </div>
                <div *ngIf="accountSettingsForm.hasError('passwordMismatch') && accountSettingsForm.get('confirmPassword')?.touched" class="validation-error">
                    As senhas não coincidem.
                </div>
            </div>
            
            <button class="save-changes" type="submit" [disabled]="!accountSettingsForm.valid">
                Salvar Alterações
            </button>
        </form>
    </section>

    <hr class="section-divider">

    <section class="perigo">
        <h1>Zona de Perigo</h1>

        <hr class="section-divider">

        <div class="destivar-conta">
            <h3>Desativar Conta</h3>
            <small>Sua conta será desativada temporariamente. Seu perfil e dados ficarão ocultos até você
                reativá-la.</small>
            <button class="desativar">Desativar Conta</button>
        </div>

        <hr class="section-divider">

        <div class="exluir-conta">
            <h3>Excluir conta permanentemente</h3>
            <small>Esta ação é irreversível. Todos os seus dados, incluindo perfil e itens salvos, serão apagados para
                sempre.</small>
            <button class="excluir">Excluir Conta</button>
        </div>
    </section>
</div>