<main>
        <!-- Formulário de Login -->
         <section class="container-login">
            <img class="logo-color" src="/assets/logo-svg.svg" alt="logo-colorida">
    
            <div class="formulario">
                <div class="usuario">
                    <form action="#">
                        <label for="login">Usuário</label>
                        <input type="text" id="login-user" size="40">
                    </form>
                </div>
        
                <div class="senha">
                    <form action="#">
                        <label for="senha">Senha</label>
                        <input type="text" id="senha" size="10">
                        <p>Esqueci minha senha</p>
                    </form>
                </div>
            </div>
    
            <div class="social-icon">
                <div class="icone_google">
                    <!-- Icone google SVG -->
                     <img class="google-color" src="/assets/google-icon 1.png" alt="">
                    
                    <span class="entreGoogle">Entre com o Google</span>
                </div>
    
                <div class="icone_facebook">
                    <img class="facebook-color" src="/assets/fe_facebook.png" alt="">
                     
                    <span class="entreFacebook">Entre com o Facebook</span>
                </div>
            </div>
    
            <div class="btnEntrar">
                <button type="submit" (click)="login()">Entrar</button>
                <span class="account">Não tem conta? <a href="/Cadastro/cadastro.html"><i>Cadastre-se aqui.</i></a></span>
            </div>
         </section>
    
         <div class="ilustracao">
            <img src="/assets/lady-art2.svg" alt="ilustração de uma moça fazendo crochê">
         </div>
    </main>
    <app-footer-login></app-footer-login>

