<div class="login-container">
    <main>
        <!-- Formulário de Login -->
        <section class="container-login">
            <img class="logo-color" src="/assets/logo-svg.svg" alt="logo-colorida">

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="formulario">
                <div class="usuario">
                    <label for="email">Usuário</label>
                    <input type="email" id="email" formControlName="email" size="40">
                </div>

                <div class="senha">
                    <label for="password">Senha</label>
                    <div class="password-wrapper">
                        <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password" size="10">
                        <span class="password-toggle-icon" (click)="togglePasswordVisibility()">
                            <span *ngIf="!showPassword">
                                <!-- COLE AQUI O SVG DO ÍCONE 'OLHO ABERTO' (PARA MOSTRAR A SENHA) -->
                            </span>
                            <span *ngIf="showPassword">
                                <!-- COLE AQUI O SVG DO ÍCONE 'OLHO FECHADO' (PARA OCULTAR A SENHA) -->
                            </span>
                        </span>
                    </div>
                    <a class="forget" href="#">Esqueci minha senha</a>
                </div>

                <div *ngIf="loginError" class="error-message">
                    Usuário ou senha inválidos. Tente novamente.
                </div>

                <div class="btnEntrar">
                    <button type="submit" [disabled]="!loginForm.valid">Entrar</button>
                </div>
            </form>

            <div class="social-icon">
                <div class="icone_google">
                    <img class="google-color" src="/assets/google-icon 1.png" alt="Ícone do Google">
                    <span class="entreGoogle">Entre com o Google</span>
                </div>

                <div class="icone_facebook">
                    <img class="facebook-color" src="/assets/fe_facebook.png" alt="Ícone do Facebook">
                    <span class="entreFacebook">Entre com o Facebook</span>
                </div>
            </div>

            <div class="account-footer">
                <span class="account">Não tem conta? <a routerLink="/cadastro">Cadastre-se aqui.</a></span>
            </div>
        </section>

        <div class="ilustracao">
            <img src="/assets/lady-art2.svg" alt="ilustração de uma moça fazendo crochê">
        </div>
    </main>

    <app-footer></app-footer>
</div>
 