<!-- From Uiverse.io by Yaya12085 --> 
<div class="card">
 <div class="image">
    <img src="https://img.youtube.com/vi/VIDEO_ID/hqdefault.jpg" alt="thumbnail">
 </div>
  <div class="content">

    <div class="aula">
      <h5 class="title">
        Nome do vídeo
      </h5>
    </div>
      
    <div class="tag">
      <span class="level">
        Iniciante
      </span>
    </div>

    <div class="assistir">
      <a class="action" href="#">
        Começar aula
        <span aria-hidden="true">
          →
        </span>
      </a>
    </div>
  </div>
</div>