<div class="card">
  <div class="image">
      <img [src]="'https://img.youtube.com/vi/' + videoData.videoId + '/mqdefault.jpg'" [alt]="videoData.titulo">
  </div>
  <div class="content">
    <a [routerLink]="['/assistir-video', videoData.videoId]">
      <span class="title">
        {{ videoData.titulo }}
      </span>
    </a>

    <div class="tags">
      <span class="level">{{ videoData.dificuldade }}</span>
    </div>

    <a class="action" [routerLink]="['/assistir-video', videoData.videoId]">
      Assistir agora
      <span aria-hidden="true">
        →
      </span>
    </a>
  </div>
</div>