.canalYt {
    display: flex;
    background-color: #ffffff;
    width: 390px;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.thumb {
    width: 60px;
    height: 60px;
    background-color: blue;
}